.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 28px;
  margin: 0;
  padding: 0;
}

.gridElement {
  position: relative;
  list-style: none;
}

@media only screen and (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 14px;
  }
}
