.hero {
  position: relative;
  color: #fff;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 50vh;
}

.heroDetails {
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  font-size: 14px;
  padding: 40px;
  color: var(--beige);
}

@media (min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: auto 24px 0 0;
  line-height: 1;
  font-size: 48px;
  font-family: rosewood-std-fill, serif;
  font-weight: 400;
  font-style: normal;
}

.sideDetails {
  margin-left: auto;
  align-self: flex-end;
  text-align: right;
}

.sideDetailsP {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1;
  font-size: 18px;
}

.sideDetailsP:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .hero {
    border-bottom-left-radius: 0;
  }

  .heroDetails {
    padding: 12px;
  }

  .heroTitle {
    font-size: 30px;
    text-align: center;
    margin: auto 0;
    width: 100%;
  }
}
