.container {
  display: flex;
}

.mainColumn {
  flex: 1 1 auto;
  height: 100vh;
  overflow: auto;
  overflow-scrolling: touch;
}

.sidebar {
  flex: 0 0 240px;
  height: 100vh;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .container {
    display: block;
  }

  .mainColumn,
  .sidebar {
    height: auto;
    overflow: visible;
  }
}
