.list {
  margin-bottom: 20px;
  font-size: 18px;
  color: var(--beige);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.listItem {
  display: flex;
  align-items: center;
  line-height: 1;
  font-weight: bold;
}

.icon {
  font-size: 30px;
  display: flex;
  align-items: center;
  padding-right: 12px;
}
