.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.topContent {
  margin-bottom: 20px;
}

.bottomContent {
  margin-top: auto;
}

.rampega {
  margin: 0;
  line-height: 1;
  font-family: rosewood-std-fill, serif;
  font-weight: 400;
  font-style: normal;
}

.est {
  margin: 0;
}

.contentText {
}

.bottomText {
}
